.loading-cell {
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0.2) 50%, rgba(200, 200, 200, 0.8) 80%);
  background-size: cover;
  animation: shimmer 1.5s infinite ease-in-out;
  height: 40px
}

@keyframes shimmer {
  0% {
    background-position: -500px;
  }

  100% {
    background-position: 500px;
  }
}